# Used cars:Sales Data Analysis

## Task 1

In [1]:
import pandas as pd
data = pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')

In [2]:
data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [3]:
data.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [4]:
data1=data.dropna()
data1

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
data1.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mp              0
Arrival_Date    0
dtype: int64

Conclusion - Loaded the data and dropped the rows with missing valuesand cleaned the data

## Task 2

In [6]:
tho = data1[(data1["year"] == 2014) & (data1["state"] == "ca")]

In [7]:
tho

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,ca,3.4,14943.0,black,black,the hertz corporation,69000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,ca,4.2,9557.0,white,black,audi mission viejo,32100,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557909,2014,Porsche,Cayenne,GTS,suv,automatic,ca,4.4,10222.0,silver,black,mercedes benz of south bay,79000,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
558202,2014,BMW,X3,xDrive28i,suv,automatic,ca,3.9,32787.0,white,black,high bid trading co inc,27900,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
558807,2014,Mercedes-Benz,E-Class,E63 AMG 4MATIC,Sedan,automatic,ca,4.5,17518.0,black,black,the hertz corporation,64000,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [8]:
sort_tho = tho.sort_values('mp', ascending=True)
sort_tho

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,—,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557848,2014,BMW,i8,Base,coupe,automatic,ca,4.2,2668.0,white,brown,"carbiz solutions, inc.",145000,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
363766,2014,BMW,i8,Base,Coupe,automatic,ca,4.4,303.0,white,gray,phelps auto sales,161000,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
301118,2014,BMW,i8,Base,Coupe,automatic,ca,5.0,603.0,white,beige,high bid trading co inc,163000,Thu Feb 12 2015 04:00:00 GMT-0800 (PST)
239360,2014,BMW,i8,Base,Coupe,automatic,ca,4.8,124.0,white,black,pacoima motors,172000,Thu Feb 12 2015 12:30:00 GMT-0800 (PST)
146917,2014,BMW,i8,Base,Coupe,automatic,ca,5.0,60.0,white,brown,ferrari of orange county,176000,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)

In [9]:
top_100=sort_tho.head(100)
top_100

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,—,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120118,2014,Mitsubishi,Lancer,ES,Sedan,automatic,ca,4.1,31861.0,black,black,avis rac/san leandro,9725,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
408827,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,ca,4.9,13922.0,gray,black,nissan north america inc.,9725,Tue Apr 21 2015 05:30:00 GMT-0700 (PDT)
197057,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,11442.0,black,gray,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
299017,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,43774.0,black,black,avis rac/san leandro,9750,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
197093,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.6,10529.0,—,black,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)

Conclusion - The data is filtered for top 100 lowest priced cars from 2014 with CA registration.

## Task 3

In [10]:
pd.crosstab(sort_tho.make,sort_tho.mp)

mp,6175,7225,7425,7525,7900,8300,8400,8425,8475,8500,...,131000,133000,134000,136000,138000,145000,161000,163000,172000,176000
make,,,,,,,,,,,,,,,,,,,,,
Acura,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Audi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BMW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,1,1,1
Buick,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cadillac,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chevrolet,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Chrysler,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
GMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Honda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Infiniti,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jaguar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jeep,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Land Rover,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
Lexus,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lincoln,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MINI,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Maserati,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mercedes-Benz,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
Mitsubishi,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Nissan,1,0,1,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Porsche,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Ram,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Scion,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Subaru,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tesla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Volvo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
pd.crosstab(top_100.make,top_100.mp)

mp,6175,7225,7425,7525,7900,8300,8400,8425,8475,8500,...,9525,9550,9575,9600,9625,9650,9675,9700,9725,9750
make,,,,,,,,,,,,,,,,,,,,,
Chevrolet,0,0,0,0,0,0,1,0,0,1,...,0,2,0,0,2,1,0,0,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,0,1,0,...,1,2,3,0,0,0,1,0,0,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mitsubishi,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
Nissan,1,0,1,1,0,1,0,1,0,1,...,2,0,0,1,2,1,1,2,1,3
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0

Conclusion - These are those top 100 lowest priced cars from 2014 with CA registration in a cross-tab

## Task 4

In [12]:
x = sort_tho[(sort_tho.make == 'Chevrolet')]
x

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST)
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,—,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35053,2014,Chevrolet,Corvette Stingray,Z51,Coupe,manual,ca,4.2,4975.0,red,black,remarketing by ge/larry h miller-fleet lease,56100,Tue Jan 27 2015 04:00:00 GMT-0800 (PST)
513331,2014,Chevrolet,Corvette Stingray,Base,coupe,automatic,ca,5.0,1606.0,red,brown,newport auto group inc,56200,Thu Jun 04 2015 05:30:00 GMT-0700 (PDT)
326566,2014,Chevrolet,Corvette Stingray,Z51,Convertible,manual,ca,4.4,11114.0,black,black,autobahn gallery,58400,Wed Feb 18 2015 04:30:00 GMT-0800 (PST)
294226,2014,Chevrolet,Corvette Stingray,Base,Convertible,manual,ca,5.0,580.0,white,red,high bid trading co inc,61000,Thu Feb 26 2015 04:00:00 GMT-0800 (PST)
370343,2014,Chevrolet,Corvette Stingray,Z51,Convertible,automatic,ca,4.8,372.0,yellow,red,jessup cad buick pont gmc saab hummer chev,62000,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)

In [13]:
new=x[['make','mp']]

In [14]:
new

             make     mp
518957  Chevrolet   8400
473427  Chevrolet   8500
80892   Chevrolet   8700
44314   Chevrolet   9050
531030  Chevrolet   9150
...           ...    ...
35053   Chevrolet  56100
513331  Chevrolet  56200
326566  Chevrolet  58400
294226  Chevrolet  61000
370343  Chevrolet  62000

[557 rows x 2 columns]

In [15]:
discount=new[["mp"]]*0.9
discount

             mp
518957   7560.0
473427   7650.0
80892    7830.0
44314    8145.0
531030   8235.0
...         ...
35053   50490.0
513331  50580.0
326566  52560.0
294226  54900.0
370343  55800.0

[557 rows x 1 columns]

Conclusion - 10% discount is added for the chevrolet cars.these are the prices of chevrolet cars after discount

## Task 5

In [16]:
gruup = pd.pivot_table(top_100,index=['interior'],values=['mp'],aggfunc='mean')

In [17]:
gruup

                   mp
interior
beige     9600.000000
black     9128.525641
gray      9314.285714
red       9150.000000
tan       9575.000000
—         9437.500000

Conclusion - These are the average priced of the above top 100 cars based on interior colors

## Task 6

In [18]:
filtered_data = data1[(data1['year']>= 2010) & (data1['year']<=2015)]

In [19]:
filtered_data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [20]:
a = pd.pivot_table(filtered_data,index=['make','color'],values=['mp'],aggfunc='count')

In [21]:
a

                 mp
make  color
Acura beige       1
      black     675
      blue       64
      brown       8
      burgundy   69
...             ...
smart red        37
      silver     46
      white      65
      yellow      4
      —           8

[620 rows x 1 columns]

Conclusion - These are the color wise availability of cars for each manufacturers from 2010 - 2015

## Task 7

In [22]:
BMW = data1[(data1['make']=="BMW") & (data1['body']=="Sedan") & (data1['year']>= 2010) & (data1['year']<=2015) & (data1['condition']<=4.5)]

In [23]:
BMW

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,ca,3.4,14943.0,black,black,the hertz corporation,69000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
21,2014,BMW,5 Series,528i,Sedan,automatic,ca,2.9,25969.0,black,black,financial services remarketing (lease),34200,Tue Feb 03 2015 04:30:00 GMT-0800 (PST)
38,2014,BMW,M5,Base,Sedan,automatic,ca,3.8,16360.0,black,black,the hertz corporation,65000,Tue Jan 13 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463211,2013,BMW,3 Series,328i,Sedan,automatic,fl,3.7,49049.0,silver,black,fields bmw,21300,Tue Jun 09 2015 02:10:00 GMT-0700 (PDT)
464228,2010,BMW,5 Series,535i,Sedan,automatic,ca,3.5,98976.0,black,black,prestige auto wholesale inc,12500,Tue May 26 2015 05:30:00 GMT-0700 (PDT)
464606,2014,BMW,6 Series Gran Coupe,650i xDrive,Sedan,automatic,ga,4.3,9356.0,white,black,flag/ald motors inc,67000,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
530198,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.4,12542.0,white,black,financial services remarketing (lease),26100,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)

In [24]:
x=pd.pivot_table(BMW,index=['year','model'],values=['mp'])

In [25]:
x

                                    mp
year model
2010 3 Series             13680.530973
     5 Series             15672.569444
     7 Series             27375.000000
     M5                   28800.000000
2011 3 Series             19422.613308
     5 Series             26259.292035
     7 Series             27792.307692
     ActiveHybrid 7       31775.000000
     M3                   39771.428571
2012 3 Series             24997.068966
     5 Series             30129.783951
     7 Series             35988.617886
     ActiveHybrid 5       24800.000000
     ActiveHybrid 7       39066.666667
2013 3 Series             25838.362069
     5 Series             33673.469388
     6 Series Gran Coupe  49853.846154
     7 Series             46810.714286
     M5                   62880.000000
2014 3 Series             32662.211982
     5 Series             43232.467532
     6 Series Gran Coupe  62904.000000
     7 Series             52460.000000
     ActiveHybrid 7       65000.000000
     M5                   71266.666667
     M6 Gran Coupe        94600.000000
2015 3 Series             35307.142857
     5 Series             49666.666667

Conclusion - These are the year wise maximum expected price of BMW manufacturers between the year 2010 - 2015 by their models.

## Task 8

In [26]:
SUV=data1[(data1['body']=="SUV") & (data1['year']>= 2010) & (data1['year']<=2015) & (data1['odometer']<=30000)]

In [27]:
SUV

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
13,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,14634.0,silver,black,"kia motors america, inc",20600,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
17,2014,Audi,Q5,2.0T Premium Plus quattro,SUV,automatic,ca,4.9,7983.0,white,black,audi north scottsdale,37100,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
31,2014,Audi,SQ5,3.0T Premium Plus quattro,SUV,automatic,ca,4.2,9606.0,white,black,audi of downtown l a,48600,Thu Jan 29 2015 04:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552387,2015,Buick,Encore,Convenience,SUV,automatic,nj,3.8,2232.0,red,black,enterprise veh exchange/rental,19850,Wed Jun 17 2015 02:30:00 GMT-0700 (PDT)
552515,2015,Toyota,Highlander,Limited,SUV,automatic,tn,4.8,4809.0,blue,—,wholesale inc # 2,39700,Wed Jun 17 2015 03:30:00 GMT-0700 (PDT)
555501,2015,Dodge,Journey,SXT,SUV,automatic,mn,4.0,24143.0,gray,black,hertz corporation/gdp,17000,Wed Jun 17 2015 06:00:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)

In [28]:
sort=SUV.sort_values(by="mp",ascending=False)

In [29]:
sort

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176431,2010,Ford,Escape,Limited,SUV,automatic,ca,3.7,28054.0,white,black,newport lexus,9475,Wed Jan 21 2015 04:15:00 GMT-0800 (PST)
125106,2012,Suzuki,Grand Vitara,Premium,SUV,automatic,pr,3.8,29433.0,blue,black,oriental bank,9100,Thu Jan 22 2015 03:30:00 GMT-0800 (PST)
203138,2011,Suzuki,Grand Vitara,Limited,SUV,automatic,fl,3.4,22133.0,gray,black,suntrust bank,9025,Wed Jan 28 2015 01:00:00 GMT-0800 (PST)
285467,2012,Suzuki,Grand Vitara,Premium,SUV,automatic,ne,3.5,11929.0,silver,black,wells fargo dealer services,8925,Thu Feb 12 2015 02:30:00 GMT-0800 (PST)
421521,2010,Suzuki,Grand Vitara,Premium,SUV,automatic,pr,3.6,28677.0,blue,black,oriental bank,6225,Thu May 21 2015 05:30:00 GMT-0700 (PDT)

In [30]:
y=sort[0:100]

In [31]:
y

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68887,2014,Lexus,LX 570,Base,SUV,automatic,mo,4.6,11495.0,red,beige,toyota motor sales/lexus,75000,Wed Feb 18 2015 02:30:00 GMT-0800 (PST)
102497,2014,Lexus,LX 570,Base,SUV,automatic,tx,3.6,25758.0,black,tan,sewell cadillac-hummer,75000,Wed Jan 07 2015 10:20:00 GMT-0800 (PST)
246937,2014,Mercedes-Benz,GL-Class,GL550 4MATIC,SUV,automatic,fl,4.3,17327.0,black,black,zimmerman auto brokers inc,75000,Tue Feb 03 2015 01:30:00 GMT-0800 (PST)
197895,2014,BMW,X6 M,Base,SUV,automatic,oh,4.5,3372.0,black,beige,bmw na manheim new jersey,75000,Tue Jan 27 2015 06:00:00 GMT-0800 (PST)
140500,2014,Land Rover,Range Rover Sport,HSE,SUV,automatic,nj,4.9,6558.0,white,gray,hatt auto sales llc,75000,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)

Conclusion - These are the top 100 SUV between the years 2010 - 2015 based on prices with ODO meter reading 30,000 and above.